<%= form_with(model: user, url: profile_path, local: true, html: {class: 'form-width-400'}) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label 'Nombre de la Empresa' %>
    <%= form.text_field :company_name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label 'Nombres' %>
    <%= form.text_field :first_name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label 'Apellidos' %>
    <%= form.text_field :last_name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label 'Email' %>
    <%= form.text_field :email, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label 'Teléfono' %>
    <%= form.text_field :phone, class: 'form-control' %>
  </div>

  <%= form.submit 'Guardar', class: 'btn btn-lg btn-primary' %>
<% end %>
