<p>
  <strong>Cliente:</strong>
  <%= @invoice.client.name %>
</p>

<p>
  <strong>Purchase Order/Orden de Compra:</strong>
  <%= @invoice.purchase_order %>
</p>

<p>
  <strong>Dirección:</strong>
  <%= @invoice.address %>
</p>


<%= render 'line_items/index', line_items: @line_items, line_itemable: @invoice %>

<%= link_to 'Enviar Factura', email_invoice_path(@invoice), class: 'btn btn-primary' %>
