<div  id='react-budget-form' 
      data-questions='<%= @questions %>'
      data-client_id='<%= @client_id %>'
      data-type_id='<%= @work_type.id %>'
      data-address='<%= @address %>'
      data-csrf_token='<%= session[:_csrf_token] %>'
      class='text-center mt-3'>
</div>