<p>
  <strong>Cliente:</strong>
  <%= @budget.client.name %>
</p>

<p>
  <strong>Dirección:</strong>
  <%= @budget.address %>
</p>


<%= render 'line_items/index', line_items: @line_items, line_itemable: @budget %>

<div class="d-inline-flex flex-column">
  <%= link_to 'Enviar Estimado',      email_budget_path(@budget),   class: 'btn btn-primary mt-2' %>
  <%= link_to 'Convertir en Factura', new_budget_budget_convertor_path(@budget), class: 'btn btn-primary mt-3' %>
</div>