<div class="d-flex justify-content-center text-center mt-5">
<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-width-400'}) do |f| %>
  <h2>Ingreso</h2>
  <div class="form-group mt-3">
    <%= f.label :email %>
    <%= f.email_field :email, class: 'form-control', autofocus: true, autocomplete: "email" %>
  </div>

  <div class="form-group">
    <%= f.label :contraseña %>
    <%= f.password_field :password, class: 'form-control', autocomplete: "current-password" %>
  </div>

  <% if false && devise_mapping.rememberable? %>
    <div class="form-check mb-2">
      <%= f.check_box :remember_me, class: 'form-check-input' %>
      <%= f.label :remember_me, class: 'form-check-label' %>
    </div>
  <% end %>

  <%= f.submit "Ingresar", class: 'btn btn-lg btn-primary btn-block mb-3' %>
  <%= render "devise/shared/links" %>
<% end %>
</div>
