<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1 style='text-align: center;'>Estimate</h1>
    <div style='display: flex;justify-content:flex-start;'>
      <div>
        <h2><%= @budget.client.user.company_name %></h2>
        <%= @budget.client.user.full_name %><br>
        <%= @budget.client.user.email %><br>
        <%= @budget.client.user.phone %></p>
      </div>
    </div>
    <div style='display: flex;justify-content:space-between;'>
      <div style='width:40%'>
        <h2><%= @budget.client.name %></h2>
        <%= @budget.client.full_name %><br>
        <%= @budget.client.email %><br>
        <%= @budget.client.phone %></p>
      </div>
      <div style='width:60%;'>
        <table border='1' style='float:right;'>
          <tbody>
            <tr>
              <td>Estimate #</td>
              <td><%= @budget.id %></td>
            </tr>
            <tr>
              <td>Date</td>
              <td><%= l @budget.created_at.to_date %></td>
            </tr>
            <tr>
              <td>Address</td>
              <td><%= @budget.address %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <table border='1' width="100%" style='margin:20px 0px;'>
      <thead>
        <col width="85%">
        <col width="15%">
        <tr>
          <th>Line Item</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <% @budget.line_items.each do |line_item| %>
          <tr>
            <td><%= line_item.description %></td>
            <td><%= number_to_currency line_item.price %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div style='display:flex;justify-content:flex-end;'>
      <div style='width:100%;'>
        <table border='1' style='float:right;'>
          <tbody>
            <tr>
              <td>Sub Total #</td>
              <td><%= number_to_currency @budget.line_items.sum(:price) %></td>
            </tr>
            <tr>
              <td>Total</td>
              <td><%= number_to_currency @budget.line_items.sum(:price) %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>