<%= form_with(url: new_line_item_path, local: true, method: "get", html: {class: 'form-width-400'}) do %>
  <% if @client %>
    <div class="form-group">
      <%= select_tag "client", options_from_collection_for_select(current_user.clients.all, "id", "name"), prompt: "Selecciona Cliente", class: 'form-control', required: true %>
    </div>
  <% else %>
    <%= hidden_field_tag 'budget', @budget.id %>
  <% end %>
  <div class="form-group">
    <%= select_tag "work_type", options_from_collection_for_select(WorkType.all, "id", "name"), prompt: "Selecciona Tipo de Estimado", class: 'form-control', required: true %>
  </div>
  <%= submit_tag "Crear Estimado", class: 'btn btn-lg btn-block btn-primary' %>
<% end %>