<div class="d-flex justify-content-between">
  <h3>Estimado Número: <%= @budget.id %></h3>
  <%= link_to 'Nueva Linea', new_line_item_path(budget: @budget.id) %>
</div>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Line Item</th>
        <th>Price</th>
        <th colspan="1"></th>
      </tr>
    </thead>

    <tbody>
      <% line_items.each do |line_item| %>
        <tr>
          <td><%= line_item.description %></td>
          <td><%= number_to_currency line_item.price %></td>
          <td><%= link_to 'Eliminar', line_item, method: :delete, data: { confirm: 'Estás seguro?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
