<div  id='react-lineitemable-form' 
      data-work_type_id='<%= @work_type.id %>'
      data-form_type='<%= @work_type.form_type %>'
      data-questions='<%= @questions %>'
      data-line_itemable_id='<%= @line_itemable.try :id %>'
      data-line_itemable_type='<%= @line_itemable_type %>'
      data-client_id='<%= @client_id %>'
      data-address='<%= @address %>'
      data-csrf_token='<%= session[:_csrf_token] %>'
      class='text-center mt-3'>
</div>